@font-face 
{
    font-family: 'f1';
    src: url('Montserrat/Montserrat-VariableFont_wght.ttf');
}

:root
{
    font-family: f1;
}

*
{
    box-sizing: border-box;
    position: relative;
}

body
{
    margin: 0px;
    height: fit-content;
}