#hero_contenedor
{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgb(94, 94, 94);
    overflow: hidden;
    z-index: 0;
}
#imagen_de_fondo
{
    position: absolute;
}

#degradado_de_fondo
{
    height: 100%;
    width: 100%;
    /* background: red; */
    background-image: linear-gradient(45deg, #ff0000, #ff00ff);
    position: absolute;
    opacity: .31;
}

#contenedor_de_mensaje
{
    background: rgba(0, 13, 255, 0.312);
    height: 100%;
    padding: 20dvw 6dvw;
}
#contenedor_de_mensaje > h1
{
    color: white;
    border-bottom: solid .5dvw white;
    width: fit-content;
    padding: 0 0 2dvw 0;
}
#contenedor_de_mensaje > p
{
    color: rgb(245, 151, 229);
}
#contenedor_de_mensaje > div
{
    display: flex;
    gap: 2dvw;
}
#contenedor_de_mensaje > div > button
{
    border: none;
    height: 10%;
    width: 10%;
}

@media screen and (max-width: 622px) {
    #hero_contenedor
    {
        display: flex;
        align-items: center;
        height: 160dvw;
        width: 100dvw;
        background: rgb(94, 94, 94);
        overflow: hidden;
        z-index: 0;
    }
    #contenedor_de_mensaje > div > button
    {
        border: none;
        height: 4dvw;
        width: 15dvw;
    }
}
@media screen and (max-width: 500px) {
    #hero_contenedor
    {
        display: flex;
        align-items: center;
        height: 120dvw;
        width: 100dvw;
        background: rgb(94, 94, 94);
        overflow: hidden;
        z-index: 0;
    }
    
#contenedor_de_mensaje > div
{
    display: flex;
    flex-direction: column;
    gap: 2dvw;
}
}