#menu_hamb
{
    height: 100%;
    width: 10dvw;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2dvw;
    gap: 1dvw;
}
#menu_hamb > div
{
    height: .2dvw;
    width: 100%;
    background: #fff;
}